USE [pathfinding]
GO
/****** Object:  Table [dbo].[map]    Script Date: 7/29/2022 12:04:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[map](
	[routeId] [smallint] NOT NULL,
	[squareId] [int] NOT NULL,
	[shapeType] [tinyint] NOT NULL,
	[npcId] [smallint] NOT NULL,
 CONSTRAINT [PK_tblMapSquareFormat_1] PRIMARY KEY CLUSTERED 
(
	[routeId] ASC,
	[squareId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 100, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[routes]    Script Date: 7/29/2022 12:04:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[routes](
	[routeId] [smallint] IDENTITY(1,1) NOT NULL,
	[routeName] [varchar](50) NOT NULL,
	[maxColumn] [smallint] NOT NULL,
	[maxRow] [smallint] NOT NULL,
	[FlySquare] [smallint] NOT NULL,
	[RouteOrder] [smallint] NOT NULL,
	[ZoneNumber] [tinyint] NOT NULL,
	[ZoneName] [varchar](50) NOT NULL,
	[TempName] [varchar](50) NOT NULL,
	[AVGLevel] [tinyint] NOT NULL,
	[AVGExp] [int] NOT NULL,
	[UltraRareMonsters] [tinyint] NOT NULL,
	[LegendaryMonsters] [tinyint] NOT NULL,
	[AVGGold] [smallint] NOT NULL,
	[ShinyMonsters] [tinyint] NOT NULL,
	[DifferentMonstersCount] [tinyint] NOT NULL,
	[DontDisplayExits] [bit] NOT NULL,
 CONSTRAINT [PK_tblRoutes_1] PRIMARY KEY CLUSTERED 
(
	[routeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 100, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[shapes]    Script Date: 7/29/2022 12:04:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[shapes](
	[Id] [tinyint] NOT NULL,
	[Name] [varchar](50) NOT NULL,
 CONSTRAINT [PK_tblShapes] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 100, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ShortestPath]    Script Date: 7/29/2022 12:04:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ShortestPath](
	[RouteId] [smallint] NOT NULL,
	[CurrentLoc] [int] NOT NULL,
	[Direction] [tinyint] NOT NULL,
	[FullPath] [varchar](max) NOT NULL,
 CONSTRAINT [PK_ShortestPath] PRIMARY KEY CLUSTERED 
(
	[RouteId] ASC,
	[CurrentLoc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[map] ([routeId], [squareId], [shapeType], [npcId]) VALUES (23, 1, 1, 0)
INSERT [dbo].[map] ([routeId], [squareId], [shapeType], [npcId]) VALUES (23, 2, 1, 0)
INSERT [dbo].[map] ([routeId], [squareId], [shapeType], [npcId]) VALUES (23, 3, 1, 0)
GO
SET IDENTITY_INSERT [dbo].[routes] ON 

INSERT [dbo].[routes] ([routeId], [routeName], [maxColumn], [maxRow], [FlySquare], [RouteOrder], [ZoneNumber], [ZoneName], [TempName], [AVGLevel], [AVGExp], [UltraRareMonsters], [LegendaryMonsters], [AVGGold], [ShinyMonsters], [DifferentMonstersCount], [DontDisplayExits]) VALUES (23, N'Bridge Pathway', 64, 64, 2116, 25, 1, N'Normal', N'23_Normal_Route_18', 12, 520, 4, 2, 26, 1, 40, 0)
SET IDENTITY_INSERT [dbo].[routes] OFF
GO
INSERT [dbo].[shapes] ([Id], [Name]) VALUES (1, N'Not Passable')
INSERT [dbo].[shapes] ([Id], [Name]) VALUES (2, N'Plain Terrain')
INSERT [dbo].[shapes] ([Id], [Name]) VALUES (3, N'Grass')
GO
INSERT [dbo].[ShortestPath] ([RouteId], [CurrentLoc], [Direction], [FullPath]) VALUES (23, 497, 3, N'561')
INSERT [dbo].[ShortestPath] ([RouteId], [CurrentLoc], [Direction], [FullPath]) VALUES (23, 498, 3, N'562')
INSERT [dbo].[ShortestPath] ([RouteId], [CurrentLoc], [Direction], [FullPath]) VALUES (23, 499, 4, N'498')
GO
ALTER TABLE [dbo].[map] ADD  CONSTRAINT [DF_tblMapSquareFormat_npcId]  DEFAULT ((0)) FOR [npcId]
GO
ALTER TABLE [dbo].[routes] ADD  CONSTRAINT [DF_tblRoutes_FlySquare]  DEFAULT ((0)) FOR [FlySquare]
GO
ALTER TABLE [dbo].[routes] ADD  CONSTRAINT [DF_tblRoutes_RouteOrder]  DEFAULT ((0)) FOR [RouteOrder]
GO
ALTER TABLE [dbo].[routes] ADD  CONSTRAINT [DF_tblRoutes_ZoneNumber]  DEFAULT ((0)) FOR [ZoneNumber]
GO
ALTER TABLE [dbo].[routes] ADD  CONSTRAINT [DF_tblRoutes_RouteZone]  DEFAULT ((0)) FOR [ZoneName]
GO
ALTER TABLE [dbo].[routes] ADD  CONSTRAINT [DF_tblRoutes_TempName]  DEFAULT ((0)) FOR [TempName]
GO
ALTER TABLE [dbo].[routes] ADD  CONSTRAINT [DF_tblRoutes_AVGLevel]  DEFAULT ((0)) FOR [AVGLevel]
GO
ALTER TABLE [dbo].[routes] ADD  CONSTRAINT [DF_tblRoutes_AVGExp]  DEFAULT ((0)) FOR [AVGExp]
GO
ALTER TABLE [dbo].[routes] ADD  CONSTRAINT [DF_tblRoutes_ZenithMonsters]  DEFAULT ((0)) FOR [UltraRareMonsters]
GO
ALTER TABLE [dbo].[routes] ADD  CONSTRAINT [DF_tblRoutes_LegendaryMonsters]  DEFAULT ((0)) FOR [LegendaryMonsters]
GO
ALTER TABLE [dbo].[routes] ADD  CONSTRAINT [DF_tblRoutes_AVGGold]  DEFAULT ((0)) FOR [AVGGold]
GO
ALTER TABLE [dbo].[routes] ADD  CONSTRAINT [DF_tblRoutes_AncientMonsters]  DEFAULT ((0)) FOR [ShinyMonsters]
GO
ALTER TABLE [dbo].[routes] ADD  CONSTRAINT [DF_tblRoutes_DifferentMonstersCount]  DEFAULT ((0)) FOR [DifferentMonstersCount]
GO
ALTER TABLE [dbo].[routes] ADD  CONSTRAINT [DF_tblRoutes_DontDisplayExits]  DEFAULT ((0)) FOR [DontDisplayExits]
GO
